Generate a list of names separated by double newlines. 

Make them as realistic and diverse as possible.

Include following types of variety:
- middle names
- "Last, First" format
- married couples
- names of non U.S. origin
- compound surnames
- names of African and Carribean descent

Reference Format: 
Jeremy and Deborah K. Greene 

José Luis Rodríguez Zapatero

Amarachukwu igwe

Skitka, Brian

List:
